.filter-items {
  position: relative;
  padding: 0;
  list-style-type: none;
  position: absolute;
  background-color: white;
  width: 7em;
  height: 14em;

  top: 2.2em;
  left: 1.3em;

  border-radius: 10px;
  border-top-left-radius: 0;
}

.filter-container.closed {
  display: none;
}